<a href="https://colab.research.google.com/github/HagarElsherbiny/StockMarketPrediction/blob/main/Nike.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
import pandas as pd
nike = pd.read_csv('/content/gdrive/My Drive/NKE.csv')
nike.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-03,100.589996,102.000000,100.309998,101.919998,98.857353,4541800
1,2020-01-06,100.949997,101.839996,100.870003,101.830002,98.770073,4612400
2,2020-01-07,101.809998,102.739998,100.809998,101.779999,98.721573,6719900
3,2020-01-08,101.309998,102.139999,100.849998,101.550003,98.498489,4942200
4,2020-01-09,101.940002,102.410004,101.389999,101.480003,98.430588,5007500